body
{
    background-color : #fff8a6;
}

div.center {
    text-align : center;
    color : white;
}

h1{
    background-image: url(https://images.unsplash.com/photo-1532469342119-c1ac6eb66912?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}