body
{
    background-color: white;
}

div.center {
    text-align : center;
    color : black;
}

div.container{
    text-align : center;
    background-color: #e3e3e3;
    max-width: 100em;
    padding: 1cm;
    margin-top: -0.5em;
}
h6{
    color: #1b335f;
}